<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.theStudyBuddy.Ignite"
    android:versionCode="11"
    android:versionName="SuperBeta" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="9" />

    <application
        android:name=".StudyBuddyApplication"
        android:icon="@drawable/beta"
        android:label="@string/app_name"
        android:logo="@drawable/beta"
        android:testOnly="false"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity android:name=".StudyBuddyActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.google.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <activity android:name=".Entries.AssignmentAddActivity" >
        </activity>
        <activity android:name=".Classes.EditScheduleActivity" >
        </activity>

        <activity android:name=".Notifications.MorningReminderActivity" >
        </activity>
        <receiver
            android:name=".Notifications.PlanAssistBroadcastReceiver"
            android:enabled="true" >
        </receiver>

        <activity android:name=".Notifications.NightReminderActivity" >
        </activity>

        <activity android:name=".Settings.HolidayActivity" >
        </activity>

        <receiver
            android:name=".Notifications.MorningBroadcastReceiver"
            android:enabled="true">
        </receiver>
        
        <receiver
            android:name=".Notifications.NightBroadcastReceiver"
            android:enabled="true">
        </receiver>
        <receiver
            android:name=".OnBootClass"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name=".Classes.ClassDeleteActivity" >
        </activity>
        <activity android:name=".Entries.PlannerDeleteActivity" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>